
BasicGit52/BasicGit52/obj/project.nuget.cache
BasicGit52/BasicGit52/obj/project.assets.json
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.pdb
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.genruntimeconfig.cache
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.exe
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.dll
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.csprojAssemblyReference.cache
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.csproj.FileListAbsolute.txt
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.csproj.CoreCompileInputs.cache
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.assets.cache
BasicGit52/BasicGit52/obj/BasicGit52.csproj.nuget.g.props
BasicGit52/BasicGit52/obj/BasicGit52.csproj.nuget.dgspec.json
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.runtimeconfig.json
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.runtimeconfig.dev.json
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.pdb
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.exe
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.dll
BasicGit52/BasicGit52/bin/Debug/netcoreapp3.1/BasicGit52.deps.json
BasicGit52/.vs/BasicGit52/v16/.suo
BasicGit52/BasicGit52/obj/project.nuget.cache
BasicGit52/BasicGit52/obj/project.assets.json
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.csprojAssemblyReference.cache
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.assets.cache
BasicGit52/BasicGit52/obj/BasicGit52.csproj.nuget.g.props
BasicGit52/BasicGit52/obj/BasicGit52.csproj.nuget.dgspec.json
BasicGit52/.vs/BasicGit52/v16/.suo
BasicGit52/BasicGit52/obj/Debug/netcoreapp3.1/BasicGit52.assets.cache
